{% extends 'base.html' %}
{% block title %}
    天天生鲜-商品详情
{% endblock %}
{% load staticfiles %}

{% block body %}
    <div class="navbar_con">
        <div class="navbar clearfix">
            <div class="subnav_con fl">
                <h1>全部商品分类</h1>
                <span></span>
                <ul class="subnav">

                    {# 显示所有的类别 #}
                    {% for category in categories %}
                        {# 默认跳转到某个分类商品列表的第一页 #}
                        <li><a href="{% url 'goods:list' category.id 1 %}"
                               class="{{ category.logo }}">{{ category.name }}</a></li>
                    {% endfor %}

                </ul>
            </div>
            <ul class="navlist fl">
                <li><a href="{% url 'goods:index' %}">首页</a></li>
                <li class="interval">|</li>
                <li><a href="">手机生鲜</a></li>
                <li class="interval">|</li>
                <li><a href="">抽奖</a></li>
            </ul>
        </div>
    </div>

    <div class="breadcrumb">
        <a href="{% url 'goods:index' %}">全部分类</a>
        <span>></span>
        <a href="/list/1/1">新鲜水果</a>
        <span>></span>
        商品详情
    </div>

    <div class="goods_detail_con clearfix">
        <div class="goods_detail_pic fl"><img src="{{ sku.default_image.url }}"></div>

        <div class="goods_detail_list fr">
            <h3>{{ sku.name }}</h3>
            <p>{{ sku.title }}</p>
            <div class="prize_bar">
                <span class="show_pirze">¥<em>{{ sku.price }}</em></span>
                <span class="show_unit">单  位：{{ sku.unit }}</span>
            </div>

            {# 其他规格商品显示 #}
            {% if other_skus %}
                <div>
                    <p>其他规格:</p>
                    <ul>
                        {% for sku in other_skus %}
                            <li><a href="{% url 'goods:detail' sku.id %}">{{ sku.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <form method="post" action="#">
                {% csrf_token %}

                {# 参数1： 商品id #}
                <input type="hidden" name="sku_ids" value="{{ sku.id }}"/>
                <div class="goods_num clearfix">
                    <div class="num_name fl">数 量：</div>
                    <div class="num_add fl">
                        <input type="text" class="num_show fl" value="1"/>
                        <a href="javascript:;" class="add fr">+</a>
                        <a href="javascript:;" class="minus fr">-</a>
                    </div>
                </div>
                <div class="total">总价：<em>{{ sku.price }} 元</em></div>
                <div class="operate_btn">
                    <input type="submit" class="buy_btn" value="立即购买"/>
                    <a href="javascript:;" class="add_cart"
                       id="add_cart" sku_id="{{ sku.id }}">加入购物车</a>
                </div>
        </div>
    </div>

    <div class=" main_wrap clearfix">
        <div class="l_wrap fl clearfix">
            <div class="new_goods">
                <h3>新品推荐</h3>
                <ul>

                    {# 显示当前类别下的新品 #}
                    {% for sku in new_skus %}
                        <li>
                            <a href="{% url 'goods:detail' sku.id %}"><img src="{{ sku.default_image.url }}"></a>
                            <h4><a href="#">{{ sku.name }}</a></h4>
                            <div class="prize">￥{{ sku.price }}</div>
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>

        <div class="r_wrap fr clearfix">
            <ul class="detail_tab clearfix">
                <li class="active">商品介绍</li>
                <li>评论</li>
            </ul>

            <div class="tab_content">
                <dl>
                    <dt>商品详情：</dt>
                    <dd>{{ sku.spu.desc|safe }}</dd>
                </dl>
            </div>

        </div>
    </div>
    </form>

{% endblock %}

{% block bottom_js %}
    {% csrf_token %}
    <div class="add_jump"></div>

    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript">
        console.log("1`3")

        // 更新购物商品的总价
        function update_goods_amount() {
            // 获取商品的单价和购买数量
            var price = $('.show_pirze').children('em').text();
            var count = $('.num_show').val();

            // 更新数量和总价
            price = parseFloat(price);
            count = parseInt(count);
            var total = price * count;
            $('.total').children('em').text(total.toFixed(2) + '元');
            console.log(count)
        }

        // 增加商品购买数量
        $('.add').click(function () {
            var count = $('.num_show').val();
            count = parseInt(count) + 1;
            console.log(count);
            $('.num_show').val(count);
            update_goods_amount();
        });
        // 减少商品购买数量
        $('.minus').click(function () {
            var count = $('.num_show').val();
            console.log(count);
            count = parseInt(count);
            if (count > 1) {
                count = count - 1;
                $('.num_show').val(count);
                update_goods_amount();
            }
        });

        // 手动输入商品购买数量
        $('.num_show').blur(function () {
            // 获取用户输入的商品数量
            var count = $(this).val();
            // 判断输入参数的合法性
            // if (不是数字 || 空字符串  || 数值小于1)  都为不合法
            if (isNaN(count) || count.trim().length < 1 || parseInt(count) < 1) {
                // 输入数量的不合法
                count = 1;
            }
            // 重新设置商品的数量
            $(this).val(parseInt(count));
            update_goods_amount();
        });
        $('.num_show').blur(function () {
            // 获取当前商品数量
            var count = $('.num_show').val();
            // 判断输入内容的合法性   不是数字 || 空字符串 || 小于1
            if (isNaN(count) || count.trim().length == 0 || parseInt(count) < 1) {
                // 数量重置为1
                count = 1;
            }
            // 显示数量
            $('.num_show').val(parseInt(count));
            update_goods_amount();
        });
        var $add_x = $('#add_cart').offset().top;
        var $add_y = $('#add_cart').offset().left;

        // 动画平移的结束位置
        var $to_x = $('#show_count').offset().top;
        var $to_y = $('#show_count').offset().left;

        $('#add_cart').click(function () {
            // 设置div小红点平移的开始位置
            $(".add_jump").css({'left': $add_y + 80, 'top': $add_x + 10, 'display': 'block'});

            // 获取商品id和购买数量
            var sku_id = $(this).attr('sku_id');
            var count = $('.num_show').val();
            var token = $('input[name="csrfmiddlewaretoken"]').val();

            // Post请求参数
            var params = {
                'sku_id': sku_id,
                'count': count,
                'csrfmiddlewaretoken': token
            };

            $.post('/cart/add', params, function (result) {
                // result: 服务器返回的数据
                if (result.code == 0) {
                    // 添加商品到购物车成功, 执行平移动画
                    $(".add_jump").stop().animate({
                            // div小红点平移的终点位置
                            'left': $to_y + 7,
                            'top': $to_x + 7
                        },
                        "fast", function () {
                            $(".add_jump").fadeOut('fast', function () {
                                $('#show_count').html(result.cart_count);
                            });
                        });
                } else { // 提示出错信息
                    alert(result.errmsg);
                }
            })
        });
    </script>

{% endblock %}