{% extends 'base.html' %}
{% load staticfiles %}
{# 首页 #}
{% block title %}
    天天生鲜-首页
{% endblock %}


{% block top_js %}
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slide.js' %}"></script>
{% endblock %}

{% block body %}
    {# BODY头部 #}
    <div class="navbar_con">
        <div class="navbar">
            <h1 class="fl">全部商品分类</h1>
            <ul class="navlist fl">
                <li><a href="">首页</a></li>
                <li class="interval">|</li>
                <li><a href="">手机生鲜</a></li>
                <li class="interval">|</li>
                <li><a href="">抽奖</a></li>
            </ul>
        </div>
    </div>

    <div class="center_con clearfix">
        {# 全部商品分类 #}
        <ul class="subnav fl">
            {% for c in categories %}
                <li><a href="{% url 'goods:list' c.id 1 %}"
                       class="{{ c.logo }}">{{ c.name }}</a></li>
            {% endfor %}
        </ul>


        {# 轮播图 #}
        <div class="slide fl">
            <ul class="slide_pics">
                {% for sku in slide_skus %}
                    <a href={% url 'goods:detail' sku.id %}>
                        <li><img src="{{ sku.image.url }}" alt="幻灯片"></li>
                    </a>
                {% endfor %}

            </ul>
            <div class="prev"></div>
            <div class="next"></div>
            <ul class="points"></ul>
        </div>
        <div class="adv fl">
            {% for p in promotions %}
                <img src="{{ p.image.url }}">
            {% endfor %}

        </div>
    </div>
    {# 全部列表图片 #}
    {% for category in categories %}
        <div class="list_model">
            <div class="list_title clearfix">
                {# 列表分类名字 #}
                <h3 class="fl" id="model01">{{ category.name }}</h3>
                {# 列表上面的文字 #}
                <div class="subtitle fl">
                    <span>|</span>
                    {% for c_sku in category.text_skus %}
                        <a href={% url 'goods:detail' c_sku.sku.id %}>>{{ c_sku.sku.name }}</a>
                    {% endfor %}
                </div>
                {# 查看更多列表标签 #}
                <a href="{% url 'goods:list' category.id 1 %}" class="goods_more fr" id="fruit_more">查看更多 ></a>
            </div>
            {# 列表图 #}
            <div class="goods_con clearfix">
                <div class="goods_banner fl"><img src="{{ category.image.url }}"></div>
                <ul class="goods_list fl">
                    {% for c_sku in category.img_skus %}
                        <li>
                            <h4><a href={% url 'goods:detail' c_sku.sku.id %}>{{ c_sku.sku.name }}</a></h4>
                            <a href={% url 'goods:detail' c_sku.sku.id %}><img src="{{ c_sku.sku.default_image.url }}"></a>
                            <div class="prize">¥ {{ c_sku.sku.price }}</div>
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block bottom_js %}
    <script type="text/javascript" src="js/slideshow.js"></script>
    <script type="text/javascript">
        BCSlideshow('focuspic');
        var oFruit = document.getElementById('fruit_more');
        var oShownum = document.getElementById('show_count');

        var hasorder = localStorage.getItem('order_finish');

        if (hasorder) {
            oShownum.innerHTML = '2';
        }

        oFruit.onclick = function () {
            window.location.href = 'list.html';
        }
    </script>
{% endblock %}